body {
  
  margin: 0;
  font-family:"Rubik",sans-serif;
  padding:0;
 
}
nav.navbar.navbar-expand-md.ml-2 
{
    padding: 1.5rem 2rem ;
}
.navbar-brand img
{
  width:200px;
}
.nav-item a
{
  color:#000a2d;
 font-size:1rem; 
}
.nav-item a:hover
{
 color:#ff6600;
 font-size:18px;
}
button.navbar-toggler.ml-auto
{
  border:1px solid #ff6600;
}         
.nav-item:hover .dropdown-menu
{ 
 display:block;
}
.navbar-nav li
{
 margin-left:20px;
 font-weight:bold;
}
#navbtn
{
 background-color:#ff6600;
 margin-left:70px;
 color:white;
 font-weight:bold;
 border-radius:10px;
 padding:10px;
}
#navbtn:hover
{
 text-decoration:none;
}
@media screen and (max-width:1200px)
{
 #navbtn
{
 display:none;
}
}
.banner1
{
 background-image:url("../img/hero2.jpg");
 background-size: cover;
 height:400px;
 width:100%;
 padding:145px 0px 0px 100px;
}
.banner1 h1
{
 font-size:3.125rem;
 font-family: 'Sawarabi Mincho', sans-serif;
 font-weight:0.5rem;
 
}
ol.breadcrumb
{
 background-color:transparent;
 color:red;
}

.breadcrumb-item a
{
 color:#ff6600;
 font-size:1.25rem;
 
}
.breadcrumb-item a:hover
{
 text-decoration:none;
 color:#ff6600;
}

.aboutme-img
{
 
padding-right:70px;

}
@media screen and (max-width:563px)
{
 .aboutme-img
{
 margin:0px;
 padding:30px 10px;
}
}


.aboutme-head
{
 font-size:3.125rem;
 font-family: 'Sawarabi Mincho', sans-serif;
 font-weight:bold;
 padding:20px 10px;
}
.aboutme-para
{
 font-size:1.0625rem;
 margin-top:20px;
 line-height:1.7;
 font-family: 'Montserrat', sans-serif;
}
.aboutme-middle
{
 border-left:3px solid #ff6600;
 padding-left:25px;
 margin-top:40px;
}
#row1right
{
 
 margin-left:4%;
}

#row1right h2
{
 text-align:justify;
 font-weight:700;
 word-spacing:1px;
 font-family: 'Cuprum', sans-serif;
 margin-top:200px;
 
}
#row1right p
{
 margin-top:3%;
 font-family:"Rufina",serif;
 font-weight:lighter;
 text-align: justify;
 font-size:20px;
}
#row2right
{ 
 margin-left:12%;
}
#row2right h1
{
 
 font-weight:bold;
 word-spacing:1px;
 margin-top:200px;
 font-family: 'Cuprum', sans-serif;
}
#row2right h2
{
 text-decoration:underline;
}
.banner3
{
 background-image:url("../img/section_bg02.jpg");
 width:100%;
 height:400px;
 background-size:cover;
 background-repeat:no-repeat; 
 margin-top:10%;
 padding-top:11%;

}
#banner3text
{
 color:#ff8533;
 margin-left:14%;
}
#banner3button
{
  color:white;
  font-weight:bold;
  padding:9px 35px;
  background-color:#ff8533;
  margin-top:18%;
 
}
.banner4
{
 background-image:url(../img/section_bg04.jpg);
 width:100%;
 height:700px;
 background-position:center;
 background-size:cover;
 background-repeat:no-repeat; 
 margin-top:10%;
 padding-top:7%;

}
.banner4 h1
{ 
 font-size:2.625rem;
 margin-left:120px;
}
.banner4 p
{
 margin:40px 120px;
}
.banner4 img
{
 margin:30px 90px 100px;
}

input[type=text] 
{
  border: none;
  background-color: none;
  outline: 0;
  font-size: 18px;
   height: 50px;
  margin-top:3%;
  padding-left:25px;
}

#comment 
{ 
    border: none; 
    border-color:none; 
    outline:0;
    margin-top:5%; 
    font-size:18px; 
    padding-top:30px;
    padding-left:25px;  
    
}
a.btn.form-btn
{
 margin-top:5%;
 background-color:#ff6600;
  color: #ffffff;
}
.bottom
{
 background-color:#080827;
 padding-top:7%;
 font-family: 'Sawarabi Mincho', sans-serif;
}
.image
{
 text-align:center;
}
.footercontent h1
{
 margin-top:2%;
 color:white;
 text-align:center;
}
.footercontent h1:hover
{
 text-decoration:none;
 
}
.footercontent p
{
 margin-top:2%;
 color:white;
 font-size:1.25rem;
 text-align:center;
}
footer
{
  color: #595959;
 font-weight:lighter;
 font-size:1rem;
 margin-top:10%;
 padding-left:6%;
}
.socialmedia
{
 margin-left:30%;
}
.fa
{
 color:#cccccc;
 margin-left:0.5%;
}
.fa:hover
{
 color:#cccccc;
 text-decoration:none;
}
@media screen and (max-width:750px)
{
 #row1right h2
 {
  margin-top:50px;
 }
 #row2right h1
 {
   margin-top:50px;
 }
}
@media screen and (max-width:480px)
{
 .navbar-brand img
 {
  width:180px;
 }
 nav.navbar.navbar-expand-md.ml-2 
 {
    padding: 1.5rem 0.5rem ;
 }
 .banner1
 { 
  height:300px;
  padding:110px 0px 0px 80px;
 }
 .banner1 h1
 {
  font-size:2.125rem;
 }
 
 .breadcrumb-item a
 {
   font-size:1rem;
 }
 .aboutme-head
 {
  font-size:2.125rem;
  padding:20px 10px;
 }
 #row2right
 { 
  margin:0px auto;
 }
 #row2right h1
{
 font-size:2rem;
 
}
  #banner3text
 {
  font-size:1.375rem;
  text-align:center;
  margin-left:2%;
 }
 .banner3
 {
  height:250px;
  }
  .banner4
  {
    padding:15% 3% 5% 9%;
  }
 .banner4 h1
  {
    font-size:1.625rem;
    margin-left:10px;
  }
  .banner4 p
  {
    margin:20px 5px;
  }
  .banner4 img
  {
    margin:20px -5px;
  }
  .bottom
  {
    padding-top:20%;
  }
  .footercontent h1
  {
    margin-top:8%;
    font-size:1.275rem;S
  }  
  .image
  {
   
   width:350px;
  } 

}

/* */
