 body, html {
  height: 100%;
  margin: 0;
  font-family:"Rubik",sans-serif;
}

#logo
{
 color:#000a2d;
 font-size:25px;
}
nav.navbar.navbar-expand-md.ml-2.navbar-color {
    padding: 1.5rem 2rem ;
}
.navbar-item a
{
  color:#000a2d;
  font-size:16px; 
}
.navbar-item a:hover
{

 color:red;
 font-size:18px;
}
.custom-toggler.navbar-toggler 
{ 
  border-color: #ff9900; 
} 

          

.navbar-item:hover .dropdown-menu
{ 
 display:block;
}
.navbar-nav li
{
 margin-left:20px;
 font-weight:bold;
}
#navbtn
{
 background-color:#ff6600;
 margin-left:70px;
 color:white;
 font-weight:bold;
 border-radius:10px;
 padding:10px;
}
#imgcenter
{
 width:100%;
 height:380px;
}
@media  screen and (max-width:1200px)
{
#navbtn
{
 display:none;
}
}


.banner 
{
  background-image:url("../img/h1_hero.jpg");
  height: 450px;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top:5%;
  
}

.text-animation {
  position:relative;
  animation-name: animation;
  animation-duration: 1s;
 
}
.banner h5
{
 color:#ff6600;
 font-weight:light;
}
@keyframes animation { 
  from{ bottom:-150px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.animation-right
{
 position:relative;
 animation-name:right;
 animation-duration:1s;
}
@keyframes right { 
  from{ left:-150px; opacity:0 } 
  to{ left:0; opacity:1 }
}
.animation-left
{
 
 position:relative;
 animation-name:left;
 animation-duration:1s;
}
@keyframes left
{
 from{ right:-150px; opacity:0 } 
  to{ right:0; opacity:1 }
}
#button1
{
 background-color:#ff6600;
}
#button2
{ 
 border:1px solid #ff6600;
 z-index:1;
}
#button2:before
{
 content:"";
 position:absolute;
 right:0;
 top:0;
 background-color:#ff6600;
 height:100%;
 width:0px;
 z-index:-1;
 transition:.1s linear;
}
#button2:hover::before
{
 width:100%;
}
.imagenext
{
  margin-top:15%;
}
#row1right h2
{
 font-weight:700;
 text-align: justify;
 word-spacing:1px;
 
}
#row1right p
{
 margin-top:3%;
 font-family:"Rufina",serif;
 font-weight:lighter;
 text-align: justify;
 font-size:20px;
}
#row2right h1
{
 
 font-weight:bold;
 text-align: justify;
 word-spacing:1px;
}
.banner2
{
  background-image:url(../img/shape1.png);
  background-repeat:no-repeat;
  height:500px;
  margin-top:10%; 
  padding-top:5%;
  position:relative;
  background-position:center;
  background-size:cover;

}
@media  screen and (max-width:760px)
{
#feedbacktext
{
 font-size:2rem;
}
}
.banner2 h1
{
 margin-top:5%;
 margin-left:80px;
 }

#element
{
  margin-top:5%;
  margin-left:5%;
}
.elecol1,.elecol2,.elecol3
{
 z-index:1;
 transition:.1s ease-in;
}
.elecol1:before,.elecol2:before,.elecol3:before
{
 content:"";
 position:absolute;
 height:0px;
 width:100%;
 z-index:-1;
 left:0;
 bottom:0;
 background-color:#ffe8df;
 transition:.3s ease-in;
}
.elecol1:hover:before,.elecol2:hover:before,.elecol3:hover:before
{
 height:100%;
}
#list
{
 margin-top:10%;
}
#list h1
{
 margin-left:80px;
}
#list1
{
 margin-top:6%;
}
#list2
{
 margin-top:2%;
}
.navitem2
{
 border-bottom:1px solid #d9d9d9;
}
@media screen and (max-width:990)
{
 .navitem2
 {
   margin-left:3%;
 }
}
.navlink2
{
 color:black;
 font-weight:bold;
 font-size:15px;
 text-decoration:none;
 margin-left:8px;
}
.navlink2:hover
{
 border-bottom:3px solid red;
}
.banner3
{
 background-image:url(../img/section_bg02.jpg);
 width:100%;
 height:400px;
 background-position:center;
 background-size:cover;
 background-repeat:no-repeat; 
 margin-top:10%;
 padding-top:9%;
}
#banner3text
{
 color:#ff8533;
}
#banner3button
{
  color:white;
  font-weight:bold;
  padding:9px 35px;
  background-color:#ff8533;
  margin-top:18%;
}
.banner4
{
 background-image:url(../img/section_bg04.jpg);
 width:100%;
 height:700px;
 background-position:center;
 background-size:cover;
 background-repeat:no-repeat; 
 margin-top:10%;
 padding-top:7%;

}
.banner4 h1
{
 font-size:42px;
}
.banner4 p
{
 margin:40px 80px;
}
.banner4 img
{
 margin:70px 70px;
}
.col2
{
  margin:20px 50px;
}
input[type=text] {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 18px;
  width: 500px;
  height: 50px;
  margin-top:3%;
  padding-left:25px;
}

#comment 
{ 
    border: none; 
    border-color:none; 
    outline:0;
    margin-top:5%; 
    font-size:18px; 
    padding-top:30px;
    padding-left:25px;  
    width: 500px;    
}
.col2 a
{
 margin-top:5%;
 background-color:#ff6600;
 padding:10px 30px;
 width:500px;
 color: #ffffff;
}
@media screen and (max-width:1194px) 
{
 input[type=text] 
 {
  width: 350px;   
 }
 #comment 
  { 
    width: 350px;    
  }
  .col2 a
  {
   width: 350px;    
  }

}

